<!DOCTYPE html>
<html>
<head>
  <title>IesdePlayer</title>
  <%= stylesheet_link_tag    "iesde_player/application", media: "all" %>
  <%= javascript_include_tag "iesde_player/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
